.div-accueil {height: 900px; margin: 0; padding: 0;}

.img-accueil {position: absolute; width: 100%; height: 100%;; filter: blur(5px); -webkit-filter: blur(5px); animation: acc 1s linear 1}

img#logowithtext {position: relative; width: 700px; height: 500px; margin-left: 31%; margin-top: 10%; animation: acc 1s linear 1}

div.scrolling {width: 30px; height: 55px; border: 1px solid #3c6382; margin-left: 49%; margin-top: -8%; border-radius: 5px; position: relative; opacity: 0.6;}

div.scrolling::before {content: ""; background: #3c6382; width: 15px; height: 15px; position: absolute; border-radius: 50%; left: 6.3px; animation-duration: 3s; animation-name: scrolling; animation-iteration-count: infinite;}

div.text {margin-bottom: 3%;}

div.container-text {margin-top: 9%;}

@keyframes scrolling {0% {margin-top: 0; opacity: 0.2;} 25% {opacity: 0.4;} 50% {opacity: 0.6;} 75% {opacity: 0.8;} 100%{margin-top: 33px; opacity: 1;}}

@keyframes acc {0% {opacity: 0.2;} 25% {opacity: 0.4;} 50% {opacity: 0.6;} 75% {opacity: 0.8;} 100% {opacity: 1;}}

/* Responsive pour smartphone Samsung Galaxy S9 / S9 Plus */
@media screen and (max-width: 360px) and (max-height: 740px)
{
    body {margin-top: 35%; margin-bottom: 2%;}
    .div-accueil {display: none;}
    .img-accueil {display: none;}
}

/* Responsive pour smartphone IPhone 6 / 7 / 8 */
@media screen and (max-width: 375px) and (max-height: 667px)
{
    body {margin-top: 35%; margin-bottom: 2%;}
    .div-accueil {display: none;}
    .img-accueil {display: none;}
}

/* Responsive pour smartphone IPhone 6 / 7 / 8 Plus */
@media screen and (max-width: 414px) and (max-height: 736px)
{
    body {margin-top: 35%; margin-bottom: 2%;}
    .div-accueil {display: none;}
    .img-accueil {display: none;}
}

/* Responsive pour smartphone IPhone X/XS */
@media screen and (max-width: 375px) and (max-height: 812px)
{
    body {margin-top: 45%; margin-bottom: 2%;}
    .div-accueil {display: none;}
    .img-accueil {display: none;}
}