form.formulaire {position : relative; margin-top : 10%; width : 20%; text-align : center;  margin-left : 25%; float : left; animation: contact 1s linear 1;}

img.map {position : absolute; width : 600px; height : 250px; float : left; margin-left : 5%; margin-top : 10%; box-shadow: 5px 5px 5px; animation: contact 1s linear 1;}

form.horaire {margin-top: 24%; float: left; margin-left: 51%; position: absolute; animation: contact 1s linear 1;}

@keyframes contact {0% {opacity: 0.2;} 25% {opacity: 0.4;} 50% {opacity: 0.6;} 75% {opacity: 0.8;} 100% {opacity: 1;}}

/* Responsive pour smartphone Samsung Galaxy S9 / S9 Plus */
@media screen and (max-width: 360px) and (max-height: 740px)
{
    img.map {display: none;}
    form.formulaire {position : scroll; width: 80%; margin-left: 10%; margin-top: 40%;}
}

/* Responsive pour smartphone IPhone 6 / 7 / 8 */
@media screen and (max-width: 375px) and (max-height: 667px)
{
    img.map {display: none;}
    form.formulaire {position : scroll; width: 80%; margin-left: 10%; margin-top: 40%;}
}

/* Responsive pour smartphone IPhone 6 / 7 / 8 Plus */
@media screen and (max-width: 414px) and (max-height: 736px)
{
    img.map {display: none;}
    form.formulaire {position : scroll; width: 80%; margin-left: 10%; margin-top: 40%;}
}

/* Responsive pour smartphone IPhone X/XS */
@media screen and (max-width: 375px) and (max-height: 812px)
{
    img.map {display: none;}
    form.formulaire {position : scroll; width: 80%; margin-left: 10%; margin-top: 40%;}
}