h3 {margin-top: 7%; margin-left: 15%;}

div.xavier {width: 300px; height: 250px; border: 1px inset black; margin-left: 15%; margin-top: 3%; border-radius: 5px; position: absolute; box-shadow: 5px 5px black; animation: xav 3s linear 1}

div.fred {width: 300px; height: 250px; border: 1px inset black; margin-left: 15%; margin-top: 18%; border-radius: 5px; position: absolute; box-shadow: 5px 5px black; animation: fred 3s linear 1}

div.txtxav {float: left; margin-left: 33%; margin-top: 4%;}

div.txtfred {float: left; margin-top: 19%; margin-left: -12%;}

@keyframes xav {0% {opacity: 0.2;} 25% {opacity: 0.4;} 50% {opacity: 0.6;} 75% {opacity: 0.8;} 100% {opacity: 1;}}

@keyframes fred {0% {opacity: 0.2;} 25% {opacity: 0.4;} 50% {opacity: 0.6;} 75% {opacity: 0.8;} 100% {opacity: 1;}}