body {background: #0F2027; background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); background: linear-gradient(to right, #2C5364, #203A43, #0F2027);}

.loading {height: 500px; line-height: 500px; font-family: sans-serif; color: #FFF; margin-left: 35%; margin-top: 15%; font-size: 25px;}

.loader {width: 100px; height: 100px; display: inline-block; vertical-align: middle; position: relative;}

.loader-circle {border: 3px solid transparent; border-top-color: #FFF; border-bottom-color: #FFF; border-radius: 50%; -webkit-animation: spin 1s linear infinite; animation: spin 1s linear infinite;}

.loader-circle:after {content: ''; position: absolute; top: 5px; left: 5px; bottom: 5px; right: 5px; border-radius: 50%; border: 3px solid transparent; border-top-color: #FFF; opacity: 0.8; -webkit-animation: spin 5s linear infinite}

@-webkit-keyframes spin {0%{ -webkit-transform: rotate(0deg); transform: rotate(0deg)} 100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg)}} 