body {margin-bottom: 10%;}

.navbar-perso {background-image: linear-gradient(to bottom, #343434, #2f2f2f, #292929, #242424, #1f1f1f); height: 100px;}

ol {margin: 0; padding: 0; float: right;}

ol li {list-style: none; float: left;}

ol li a {text-transform: uppercase; color:#fff; padding: 0 30px; line-height: 100px; height: 100px; display: block; font-family: arial; text-decoration: none; position: relative; z-index: 1; transition: .5s;}

ol li a::before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 0%; background: #f00; text-decoration: none; transition: .5s; z-index: -1;}

ol li a:hover::before {height: 100%;}

nav a img.logo-navbar {width: 125px; height: 80px; margin-top: 0.5%; margin-left: -10%;}

@media screen and (max-width: 500px) 
{
    nav a img.logo_navbar {width: 80px; height: 40px;}
    div ol.ul-navbar {height: 450px; background-image: linear-gradient(to bottom, #343434, #2f2f2f, #292929, #242424, #1f1f1f); border-radius: 3%; border: 1px solid black;}
    div ol li.nav-li {height: 60px; width: 300px; margin-top: 3%;}
    div ol li.nav-li:hover {border-bottom: 1px solid #f00; background: #f00; transition-property: 'background'; transition: 1s ease-in-out;}
    div ol li a.lien {height: 70px; width: 270px; margin: -2%; margin-left: 5%; padding: 0;}
    .navbar-phone {height: 500px; border-radius: 2%; margin-top: 3%;}
    ol li a::before {display: none;}
    ol li a:hover::before {display: none;}
}