div.nav-haut {width: 100%; height: 60px; background-image: linear-gradient(to bottom, #343434, #2f2f2f, #292929, #242424, #1f1f1f); position: relative;}

ul.nav-verti {position: absolute;}

h1.titre {color: white;}

ul {list-style-type: none; margin: 0; padding: 0; width: 200px; background-color: #f1f1f1;}
  
li a {display: block; padding: 8px 16px; text-decoration: none; color: #000;}
  
li a:hover {background-color: #555; color: white; text-decoration: none;}

#sous-menu {float: left; margin-top: -20%;}

#sous-menu:hover {margin-left: 100%;}

a.lien-menu:hover {background-color: #555;}